@import "tailwindcss";

@layer base {
    body {
      font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
      font-size: 1.1rem;
    }
  }

@font-face {
    font-family: "Neutronic";
    src:
    url("./media/Neutronic-Medium.woff2") format("woff2"),
    url("./media/Neutronic-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}